body {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
 
	margin: 1%;
}
.fonts { font-size:16px; color:#ffffff;}
.title { font-size:16px; color:#000000;}
.font-td{ color:#ffffff;}
#div-top {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 110px;
	z-index: 1;
	background-color: #D5D5D5;
}
.titulos {
	font-size:24px;
	font-weight:bold;}
#div-title {
	position: absolute;
	left: 10px;
	top: 40px;
	width: 427px;
	height: 24px;
	z-index: 2;
}
#div-resultados {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 56px;
	z-index: 1;

}

#div-filter {

	position: absolute;

	left: 0px;

	top: 110px;

	width: 100%;

	height: 50px;

	z-index: 2;

	background-color: #BEBEBE;

}

#div-header {

	position: absolute;

	left: 0px;

	top: 160px;

	width: 100%;

	height: 113px;

	z-index: 3;

}

#div-data {

	position: absolute;

	left: 0px;

	top: 190px;

	width: 100%;

	height: 250px;

	z-index: 4;

}

img {

	border: none;

}



/* dock - top */

.dock {

	position: relative; 

	height: 50px; 

	text-align: center;

}

.dock-container {

	position: absolute;

	height: 50px;

	/* background: url(images/dock-bg2.gif);*/

	padding-left: 20px;

}

a.dock-item {

	display: block;

	width: 40px;

	color: #000;

	position: absolute;

	top: 0px;

	text-align: center;

	text-decoration: none;

	font: bold 12px Arial, Helvetica, sans-serif;

}

.dock-item img {

	border: none; 

	margin: 5px 10px 0px; 

	width: 100%; 

}

.dock-item span {

	display: none; 

	padding-left: 20px;

}



/* dock2 - bottom */

#dock2 {

	width: 100%;

	bottom: 0px;

	position: absolute;

	left: 0px;

}

.dock-container2 {

	position: absolute;

	height: 50px;

	/* background: url(images/dock-bg.gif);*/

	padding-left: 20px;

}

a.dock-item2 {

	display: block; 

	font: bold 12px Arial, Helvetica, sans-serif;

	width: 40px; 

	color: #000; 

	bottom: 0px; 

	position: absolute;

	text-align: center;

	text-decoration: none;

}

.dock-item2 span {

	display: none;

	padding-left: 20px;

}

.dock-item2 img {

	border: none; 

	margin: 5px 10px 0px; 

	width: 100%; 

}

.datagrid table {border-collapse: collapse; text-align: left; width: 100%;}
.datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.datagrid table td, .datagrid table th {padding: 3px 10px;}
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 11px; font-weight: bold; border-left: 1px solid #0070A8;}
.datagrid table thead th:first-child {border: none;}
.datagrid table tbody td { color: #00496B; border-left: 0px solid #E1EEF4;font-size: 11px;font-weight: normal;}
.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B;}
.datagrid table tbody td:first-child { border-left: none;}
.datagrid table tbody tr:last-child td { border-bottom: none;}

table.sortable thead {

    background-color:#eee;

    color:#666666;

    font-weight: bold;

    cursor: default;
}
table.sortable td {
	border-bottom-color:#2D2D2D;
	border-top-color:#2D2D2D;
	border-left-color:#2D2D2D;
	border-right-color:#2D2D2D;
	
}